# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
.build/
build/
dist/

# Venv
.venv/

# IDE
.vscode/
.idea/

# App
job_hunter.db
logs/
.env
last_report.html
last_batch_report.html
linkedin_debug.html
src/sources/linkedin_debug.html
storage_state.json
.indeed_profile/
